@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "welcome-header.css";
@import "variables.css";
body {
  font-family: "Dongle", sans-serif;
}
#Login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
#Login-form input {
  padding: 15px 0;
  border: none;
  font-size: 15px;
  border-bottom: solid 3px rgba(0, 0, 0, 0.151);
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
#Login-form input:not([type="submit"]) {
  margin-bottom: 10px;
}
#Login-form input::placeholder {
  color: rgba(0, 0, 0, 0.404);
}
#Login-form input:focus {
  border-color: var(--green);
}
#Login-form input[value*="로그인"] {
  margin: 10px;
  border-radius: 5px;
  border: solid 3px rgba(0, 0, 0, 0);
  background-color: var(--green);
  cursor: pointer;
}
#Login-form input[value*="로그인"]:focus {
  border: solid 3px rgba(0, 0, 0, 0.301);
}
#Login-form input[value*="로그인"]:active {
  background-color: rgb(0, 0, 0);
  color: white;
}
#Login-form a {
  text-decoration: none;
  text-align: center;
  color: inherit;
}
