.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  text-align: center;
}
.welcome-header__title {
  font-size: 50px;
  padding-bottom: 30px;
  font-weight: 700;
}
.welcome-header__text {
  width: 70%;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
  font-size: 30px;
}
