.user-component__subtitle i {
  color: red;
  font-size: 15px;
  margin-left: 1px;
}
.more-screen .icon-row {
  margin-top: 20px;
}
.more-suggestion {
  margin-top: 20px;
  border-top: 1px solid var(--green);
  padding-top: 20px;
}
.more-suggestion__title {
  font-weight: 400;
  font-size: 23px;
  color: var(--grey);
  margin-bottom: 25px;
}
.more-suggestion__icon-list {
  display: flex;
}
.more-suggestion__app {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.more-suggestion__app-img img {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}
.more-suggestion__app-text {
  font-weight: 300;
  font-size: 18px;
}
