#max-width {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 50px;
  color: black;
  z-index: 10;
}
#max-width span {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  #max-width {
    display: none;
  }
}
