.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  background-color: var(--green);
  opacity: 0.8;
  font-size: 30px;
  color: black;
}
.status-bar__column i {
  font-size: 15px;
}
.status-bar__column:nth-child(2n-1) span {
  margin-right: 3px;
}
.status-bar__column:nth-child(2) span {
  justify-self: center;
}

.status-bar__column:last-child .fa-battery-full {
  margin-right: 3px;
}
